hr {
        border: 1px solid darkblue;
}

.bg {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: lightblue;
}

.center-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
}