$spaceleft: 20px;
$normal-font:14px;
$big-font:16px;

p {
	font-size:  $normal-font;
	margin-left: $spaceleft;
}

b {
	font-size: $big-font; 
}

h1 {
	color: darkblue;
	margin-left: $spaceleft;
}

li {
	padding-bottom: 5px;
	font-size: $normal-font;
}
