<h1>&lt;Questions Component&gt;</h1>

<p>
	This component should load the <b>Questions</b> from the <b>Questionnaire service</b>
	and show them in a table.
</p>

<p>
	Each <b>Question</b> row should have the following columns:
</p>

<ul>
	<li> QuestionText</li>
	<li> A  <b>"Show More!"</b> button.</li>
</ul>

<p>
	When the button is clicked, the corresponding list of <b>Answer</b> should be loaded.
</p>
